language: python
dist: xenial
python: '3.7.4'
cache: false

env:
  global:
    - PYTEST_ADDOPTS=-vv --showlocals --durations=100 --exitfirst

# setuptools-scm needs all tags in order to obtain a proper version
git:
  depth: false

install:
  - python -m pip install --upgrade --pre tox

jobs:
  include:
    # Coverage for:
    # - TestArgComplete (linux only)
    # - numpy
    # - verbose=0
    # - test_sys_breakpoint_interception (via pexpect).
    # Empty PYTEST_ADDOPTS to run this non-verbose.
    - env: TOXENV=py37-numpy-pexpect-twisted PYTEST_COVERAGE=1

    - env: TOXENV=linting,docs,doctesting PYTEST_COVERAGE=1
      cache:
        directories:
          - $HOME/.cache/pre-commit

before_script:
  - |
    # Do not (re-)upload coverage with cron runs.
    if [[ "$TRAVIS_EVENT_TYPE" = cron ]]; then
      PYTEST_COVERAGE=0
    fi
  - |
    if [[ "$PYTEST_COVERAGE" = 1 ]]; then
      export COVERAGE_FILE="$PWD/.coverage"
      export COVERAGE_PROCESS_START="$PWD/.coveragerc"
      export _PYTEST_TOX_COVERAGE_RUN="coverage run -m"
      export _PYTEST_TOX_EXTRA_DEP=coverage-enable-subprocess
    fi
  - tox --notest -vv

script: tox -vv

after_success:
  - |
    if [[ "$PYTEST_COVERAGE" = 1 ]]; then
      env CODECOV_NAME="$TOXENV-$TRAVIS_OS_NAME" scripts/report-coverage.sh
    fi

branches:
  only:
    - my-master
